@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Під час обробки вашого запиту сталася помилка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим Розробки</h3>
<p>
    Переключення в середовище <strong>Розробки</strong> відобразить більш детальну інформацію про помилку, що сталася.
</p>
<p>
    <strong>Середовище розробки не повинно бути увімкнене для розгорнутих додатків.</strong>
    Це може призвести до відображення конфіденційної інформації з винятків кінцевим користувачам.
    Для локального налагодження увімкніть середовище <strong>Розробки</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    та перезапустивши додаток.
</p>